---
layout: default
key: course
title: Master's Degree Course
---
<div style="background:transparent !important" class="jumbotron">
    <div class="container">
        {% assign course = site.data.course %}
        <h2>{{course.title}}</h2>
        {% for courseitem in course.courses %}
            <div class="panel panel-info">
                <div class="panel-heading">{{courseitem.season}}</div>
                {% for lecture in courseitem.lectures %}
                    <div class="panel-body">
                        <h4>{{lecture.name}}</h4>
                        <span>{{lecture.description}}</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
