---
layout: default
key: favorite
title: Rong Zhuang's Favorite Bookmarks
---
<div class="main-contents">
    <div class="main-contents-inner">
      {%- assign favorite = site.data.favorite -%}
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#favorite"><h4>{{favorite.title}}</h4></a></li>
        <li class="nav-item"><a class="nav-link" href="#library"><h4>{{favorite.librarytitle}}</h4></a></li>
      </ul>
      <div class="tab-content">
        <div id="favorite" class="tab-pane fade show active">
          <p>{{favorite.description}}</p>
          <div class="list">
              {%- for bookmark in favorite.bookmarks -%}
                  {% assign idx1 = forloop.index %}
                  <div class="list-category">
                      <div class="list-category-title">{{ bookmark.category }}</div>
                      <div class="list-sublist">
                          {%- for link in bookmark.links -%}
                              {% assign col = forloop.index0 | modulo: 3 %}
                              {% if col == 0 %}
                                  <div class="row">
                              {% endif %}
                                  <div class="col-sm-4">
                                  <span class="list-sub-index">{{ idx1 }}.{{ forloop.index }}</span>
                                  <span class="list-sub-link"><a href="{{ link.url }}" data-container="body" data-toggle="tooltip" data-placement="right" title="{{ link.description }}">{{ link.name }}</a></span>
                                  </div>
                              {% if col == 2 or forloop.last == true %}
                                  </div>
                              {% endif %}
                          {%- endfor -%}
                      </div>
                  </div>
              {%- endfor -%}
          </div>
        </div>
        <div id="library" class="tab-pane fade">
          <p>{{favorite.librarydesc}}</p>
          <div class="list">
              {%- for bookmark in favorite.bookmarks -%}
                  {% assign idx1 = forloop.index %}
                  <div class="list-category">
                      <div class="list-category-title">{{ bookmark.category }}</div>
                      <div class="list-sublist">
                          {%- for link in bookmark.links -%}
                              {% assign col = forloop.index0 | modulo: 3 %}
                              {% if col == 0 %}
                                  <div class="row">
                              {% endif %}
                                  <div class="col-sm-4">
                                  <span class="list-sub-index">{{ idx1 }}.{{ forloop.index }}</span>
                                  {% assign template = "<li><a href='url' title='name'>name </a><span class='glyphicon glyphicon-file icon-blog'></span></li>" %}
                                  {% assign strlink = "<ul class='list-posting'>" %}
                                  {% assign tag = link.name | downcase %}
                                  {% assign counter = 0 %}
                                  {% for posting in site.posts %}
                                      {% assign posttag = posting.tags | downcase %}
                                      {% if posttag contains tag %}
                                          {% assign counter = counter | plus:1 %}
                                          {% assign currlink = template | replace: "url", posting.url | replace: "name", posting.title%}
                                          {% assign strlink = strlink | append: currlink %}
                                      {% endif %}
                                  {%- endfor -%}
                                  {% assign template = "<li><a href='url' title='name' >name </a><span class='glyphicon glyphicon-book icon-tutorial'></span></li>" %}
                                  {% for portfl in site.tutorial %}
                                      {% assign portfltag = portfl.tags | downcase %}
                                      {% if portfltag contains tag %}
                                          {% assign counter = counter | plus:1 %}
                                          {% assign currlink = template | replace: "url", portfl.url | replace: "name", portfl.title%}
                                          {% assign strlink = strlink | append: currlink %}
                                      {% endif %}
                                  {%- endfor -%}
                                  {% assign template = "<li><a href='url' title='name' >name </a><span class='glyphicon glyphicon-briefcase icon-portfolio'></span></li>" %}
                                  {% for portfl in site.portfolio %}
                                      {% assign portfltag = portfl.tags | downcase %}
                                      {% if portfltag contains tag %}
                                          {% assign counter = counter | plus:1 %}
                                          {% assign currlink = template | replace: "url", portfl.url | replace: "name", portfl.title%}
                                          {% assign strlink = strlink | append: currlink %}
                                      {% endif %}
                                  {%- endfor -%}
                                  {% assign strlink = strlink | append: "</ul>" %}
                                  {% assign popoverlink = "<a href='url' title='name'>name</a>" | replace: "url", link.url | replace: "name", link.url%}
                                  {% if counter > 0 %}
                                      {% assign strlink = strlink | append: "<hr>" %}
                                  {% else %}
                                      {% assign strlink = "" %}
                                  {% endif %}
                                  {% assign strlink = strlink | append: popoverlink %}
                                  <span class="list-sub-link"><a href="{{ link.url }}" data-container="body" class="pop" data-toggle="popover" title="" data-trigger="hover" data-content="{{strlink}}" data-original-title="{{link.description}}">{{ link.name }} <span class="badge badge-secondary">{% if counter > 0 %}{{counter}}{% endif %}</span></a></span>
                                  </div>
                              {% if col == 2 or forloop.last == true %}
                                  </div>
                              {% endif %}
                          {%- endfor -%}
                      </div>
                  </div>
              {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
</div>
<script>
$(document).ready(function(){
    // tab
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
    // tooltip - used by favorite
    $('[data-toggle="tooltip"]').tooltip();
    // popover - used by library
    // $('[data-toggle="popover"]').popover({html:true});
    // keep bootstrap popover alive while the popover is being hovered
    $(".pop").popover({ trigger: "manual" , html: true, animation:false})
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide");
                }
            }, 300);
    });
});
</script>
