---
layout: default
key: library
title: Rong Zhuang's Library
---
<style type="text/css">
    .popover{
        max-width:600px;
    }
    ul {
        padding-left: 10px;
    }
</style>
<div class="main-contents">
    <div class="main-contents-inner">
        {%- assign favorite = site.data.favorite -%}
        <div class="main-contents-title"><h2>{{favorite.librarytitle}}</h2></div>
        <div class="main-contents-description">{{favorite.librarydesc}}</div>
        <div class="list">
            {%- for bookmark in favorite.bookmarks -%}
                {% assign idx1 = forloop.index %}
                <div class="">
                    <div class="list-title">{{ bookmark.category }}</div>
                    <div class="list-category">
                        {%- for link in bookmark.links -%}
                            {% assign col = forloop.index0 | modulo: 3 %}
                            {% if col == 0 %}
                                <div class="row">
                            {% endif %}
                                <div class="col-sm-4">
                                {{ idx1 }}.{{ forloop.index }}
                                {% assign template = "<li><a href='url' title='name'>name</a></li>" %}
                                {% assign strlink = "<ul>" %}
                                {% assign tag = link.name | downcase %}
                                {% assign counter = 0 %}
                                {% for posting in site.posts %}
                                    {% assign posttag = posting.tags | downcase %}
                                    {% if posttag contains tag %}
                                        {% assign counter = counter | plus:1 %}
                                        {% assign currlink = template | replace: "url", posting.url | replace: "name", posting.title%}
                                        {% assign strlink = strlink | append: currlink %}
                                    {% endif %}
                                {%- endfor -%}
                                {% assign strlink = strlink | append: "</ul>" %}
                                {% assign popoverlink = "<a href='url' title='name'>name</a>" | replace: "url", link.url | replace: "name", link.url%}
                                {% if counter > 0 %}
                                    {% assign strlink = strlink | append: "<hr>" %}
                                {% endif %}
                                {% assign strlink = strlink | append: popoverlink %}
                                <a href="{{ link.url }}" role="button" data-container="body" class="btn popovers pop" data-toggle="popover" title="" data-trigger="hover" data-content="{{strlink}}" data-original-title="{{link.description}}">{{ link.name }} <span class="badge">{% if counter > 0 %}{{counter}}{% endif %}</span></a>
                                </div>

                            {% if col == 2 or forloop.last == true %}
                                </div>
                            {% endif %}
                        {%- endfor -%}
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    //$('[data-toggle="popover"]').popover({html:true});
    // keep bootstrap popover alive while the popover is being hovered
    $(".pop").popover({ trigger: "manual" , html: true, animation:false})
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide");
                }
            }, 300);
    });
});
</script>
