---
layout: default
key: note
title: Rong Zhuang's Notes
categories:
  - name: Basic Knowledge
    type: basic
  - name: Programming Language
    type: language
  - name: Tools
    type: tools
  - name: Architecture
    type: architecture
  - name: DataStructure and Algorithm
    type: dsa
---
<div style="background:transparent !important" class="jumbotron">
  <div class="container">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="container">
          <div class="row">
              <h2>{{ page.title }}</h2>
              {% for category in page.categories %}
                  <div class="panel panel-info">
                      <div class="panel-heading">
                          <h3 class="panel-title">{{ category.name }}</h3>
                      </div>
                      <ul class="list-group">
                          {% assign list = site.note | where: "category", category.type | sort: 'index' %}
                          {% for note in list %}
                              <a href="{{ note.url }}" title="{{ note.title }}" class="list-group-item">
                                  <div>{{ note.title }}</div>
                              </a>
                          {% endfor %}
                      </ul>
                  </div>
              {% endfor %}
          </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
