---
layout: default
key: note
tutorial: list
title: Rong Zhuang's Note
---
<div class="container">
  <div class="page-wrapper chiller-theme">
    <!-- sidebar-wrapper  -->
    {% assign subject = site.data.note %}
    {% assign postings = site.note | sort: 'index' %}
    {% include sidebar.html %}
    <!-- page-content" -->
    <main class="page-content">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h1 class="page-header">{{subject.name}} <small>{{subject.description}}</small></h1>
          <nav aria-label="breadcrumb" id="bread-crumb"></nav>
          <div id="category-list" style="display: none">
            {% for category in subject.categories %}
              {% assign col = forloop.index | modulo: 3 %}
              {% if col == 1 %}
                <div class="card-deck">
              {% endif %}
                  <div class="card">
                    <div class="card-header">
                      {{category.name}}
                    </div>
                    <ul class="list-group list-group-flush">
                    {% for subcategory in category.subcategories %}
                    {% assign list = postings | where: 'category', subcategory.type %}
                    {% assign url = "/note/?navigation=" | append: subject.name | append: ", " | append: category.name | append: ", " | append: subcategory.name | append: ", "%}
                    <a href="{{url}}" class="list-group-item list-group-item-action">
                        <i class="{{subcategory.icon}}"></i> {{subcategory.name}} <span class="badge badge-pill badge-primary pull-right">{{list | size}}</span>
                    </a>
                    {% endfor %}
                    </ul>
                  </div>
              {% if col == 0 or forloop.last == true %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <dl class="dl-unsur" id="posting-list"/>
        </div>
        <div class="col-md-1"></div>
      </div>
    </main>
    <input type="hidden" id="subject" name="subject" value="{{page.key}}">
  </div>
</div>

<script>
  window.store = {
    {% for post in postings %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "breadcrumb": "{{ post.breadcrumb | replace: '&quot', '' | replace: '"','' }}",
        "url": "{{ post.url | xml_escape }}",
        "index": "{{ post.index | xml_escape }}",
        "excerpt": "{{ post.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip |  truncatewords: 30 }}",
        "tags": "{{ post.tags | join: ", "}}",
        "date": "{{ post.date | date_to_string}}",
        "image": "{{ post.image | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
  //"content": {{ post.content | strip_html | strip_newlines | jsonify }},

  // tutorial category
  //window.tc = {{ site.data.tutorial | replace: '=>', ':'}};

</script>
<script src="/public/js/navigate.js"></script>
