---
layout: default
key: portfolio
title: Rong Zhuang's Portfolio
categories:
  - name: Mobile Apps
    description: iOS, Android, Xamarin, Windows Phone
    type: mobile
  - name: Web & Node.js Apps
    description: Angular, React, Node.js, jQuery, Socket.IO, Electron
    type: web
  - name: .NET & Java Apps
    description: .NET, C#, ASP.NET MVC, SignalR, Java, Web API, WebSocket
    type: dotnet
---
<div class="container">
  {% for category in page.categories %}
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">{{category.name}} <small>{{category.description}}</small></h1>
      </div>
    </div>
    <div class="row">
    {% assign list = (site.portfolio | where: "category", {{category.type}}) | sort: 'index') | reverse %}
    {% for portfl in list %}
        {% if category.type == 'mobile' %}
          <div class="col-md-3 portfolio-item">
        {% else %}
          <div class="col-md-4 portfolio-item">
        {% endif %}
          <div class="item-border">
            <a href="{{ portfl.url }}">
              <img class="img-responsive" src="{{ portfl.image }}" alt="image">
            </a>
            <div class="item-title">
              <h3><a href="{{ portfl.url }}">{{ portfl.title }}</a></h3>
              <p>{{ portfl.excerpt }}</p>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
  {% endfor %}
</div>
<br/><br/>
