---
layout: default
key: portfolio
title: Rong Zhuang's Portfolio
categories:
  - name: Mobile Apps
    description: iOS, Android, Xamarin
    type: mobile
  - name: Web & Node.js Apps
    description: Angular, React, Node.js, MongoDB, jQuery, Socket.IO, Electron, Docker
    type: web
  - name: .NET & Java Apps
    description: C#, ASP.NET MVC, SignalR, WebSocket, JSP, Web API, MySQL
    type: dotnet
---
<div class="container">
  {% assign list = site.portfolio | sort: 'index' | reverse %}
  {% for category in page.categories %}
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">{{category.name}} <small>{{category.description}}</small></h1>
      </div>
    </div>
    <div class="row">
    {% assign portfolios = list | where: "category", category.type %}
    {% for portfolio in portfolios %}
        {% if category.type == 'mobile' %}
          <div class="col-md-3 portfolio-item">
        {% else %}
          <div class="col-md-4 portfolio-item">
        {% endif %}
          <div class="item-border">
            <a href="{{ portfolio.url }}">
              <img class="img-responsive" src="{{ portfolio.image }}" alt="image">
            </a>
            <div class="item-title">
              <h3><a href="{{ portfolio.url }}">{{ portfolio.title }}</a></h3>
              <p>{{ portfolio.excerpt }}</p>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
  {% endfor %}
</div>
<br/><br/>
