---
layout: default
key: search
tutorial: list
---
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="spinner-border text-success" id="spinner"></div>
      <h1 class="page-header" id="search-title" style="display:none">Search result for "<label id="search-key"></label>"</h1>
      <dl class="dl-unsur" id="search-results">
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<script>
  {% assign popular = site.popular %}
  {% assign tutorial = site.tutorial %}
  {% assign note = site.note %}
  {% assign postings = popular | concat: tutorial | concat: note %}
  window.store = {
    {% for post in postings %}
      "{{ post.url | slugify }}": {
        "key": "{{ post.key | xml_escape }}",
        "title": "{{ post.title | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "breadcrumb": "{{ post.breadcrumb | replace: '&quot', '' | replace: '"','' }}",
        "url": "{{ post.url | xml_escape }}",
        "index": "{{ post.index | xml_escape }}",
        "excerpt": "{{ post.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip |  truncatewords: 30 }}",
        "tags": "{{ post.tags | join: ", "}}",
        "date": "{{ post.date | date_to_string}}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
  //        "content": {{ post.content | strip_html | strip_newlines | jsonify }},

  // mapping of category and image
  {% assign popular = site.data.popular.categories %}
  {% assign tutorial = site.data.tutorial.categories %}
  {% assign note = site.data.note.categories %}
  {% assign categories = popular | concat: tutorial | concat: note %}
  window.category = {
    {% for category in categories %}
      {% for subcategory in category.subcategories %}
        "{{subcategory.subcategory}}": "{{ subcategory.image }}",
      {% endfor %}
    {% endfor %}
  };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.6/lunr.min.js"></script>
<script src="/public/js/search.js"></script>
