---
layout: default
key: tutorial
tutorial: list
title: Tutorials
---
<div class="container">
  <div class="page-wrapper chiller-theme">
    <!-- sidebar-wrapper  -->
    {% assign subject = site.data.tutorial %}
    {% assign postings = site.tutorial | sort: 'index' %}
    {% include sidebar.html %}
    <!-- page-content" -->
    <main class="page-content">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h1 class="page-header">{{subject.name}} <small>{{subject.description}}</small></h1>
          <nav aria-label="breadcrumb" id="bread-crumb"></nav>
          <div id="category-list" style="display: none">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Angular</h5>
                  <p class="card-text">Learn how to use Angular to build front-end application with examples.</p>
                  <a href="/tutorial/?navigation=Tutorial,%20Frontend,%20Angular%20Tutorial," class="btn btn-outline-danger"><i class="fab fa-angular"></i> Angular Tutorial</a>
                  <a href="/tutorial/?navigation=Tutorial,%20Frontend,%20Angular%20App," class="btn btn-outline-danger"><i class="fab fa-angular"></i> Aggular App</a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">React</h5>
                  <p class="card-text">Learn how to use React to build front-end application with examples.</p>
                  <a href="/tutorial/?navigation=Tutorial,%20Frontend,%20React%20Tutorial," class="btn btn-outline-primary"><i class="fab fa-react"></i> React Tutorial</a>
                  <a href="/tutorial/?navigation=Tutorial,%20Frontend,%20React%20App," class="btn btn-outline-primary"><i class="fab fa-react"></i> React App</a>
                </div>
              </div>
            </div>
            {% for category in subject.categories %}
              {% assign col = forloop.index | modulo: 3 %}
              {% if col == 1 %}
                <div class="card-deck">
              {% endif %}
                  <div class="card">
                    <div class="card-header">
                      {{category.name}}
                    </div>
                    <ul class="list-group list-group-flush">
                    {% for subcategory in category.subcategories %}
                    {% assign list = postings | where: 'category', subcategory.subcategory %}
                    {% assign url = "/tutorial/?navigation=" | append: subject.name | append: ", " | append: category.name | append: ", " | append: subcategory.name | append: ", "%}
                    <a href="{{url}}" class="list-group-item list-group-item-action">
                        <i class="{{subcategory.icon}}"></i> {{subcategory.name}} <span class="badge badge-pill badge-primary pull-right">{{list | size}}</span>
                    </a>
                    {% endfor %}
                    </ul>
                  </div>
              {% if col == 0 or forloop.last == true %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <dl class="dl-unsur" id="posting-list"/>
        </div>
        <div class="col-md-1"></div>
      </div>
    </main>
    <input type="hidden" id="subject" name="subject" value="{{page.key}}">
  </div>
</div>

<script>
  window.store = {
    {% for post in postings %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "breadcrumb": "{{ post.breadcrumb | replace: '&quot', '' | replace: '"','' }}",
        "url": "{{ post.url | xml_escape }}",
        "index": "{{ post.index | xml_escape }}",
        "excerpt": "{{ post.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip |  truncatewords: 30 }}",
        "tags": "{{ post.tags | join: ", "}}",
        "date": "{{ post.date | date_to_string}}",
        "image": "{{ post.image | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
  // mapping of category and image
  window.category = {
    {% for category in subject.categories %}
      {% for subcategory in category.subcategories %}
        "{{subcategory.subcategory}}": "{{ subcategory.image }}",
      {% endfor %}
    {% endfor %}
  };
  // tutorial category
  //window.tc = {{ site.data.tutorial | replace: '=>', ':'}};

</script>
<script src="/public/js/navigate.js"></script>
