.main-contents {
    background: #fff;
    outline: none
}
@media (min-width: 1220px) {
    .main-contents {
        line-height: 20px
    }
}
.main-contents ul>li {
    /* margin: 0 */
}
.main-contents p {
    margin-top: 16px
}
.main-contents ul>li:before {
    content: ""
}
@media (max-width: 1120px) {
    .main-contents {
        margin-bottom: 0;
        padding: 0 16px
    }
}
@media (max-width: 568px) {
    .main-contents {
        margin-top: 80px
    }
}
.main-contents-inner {
    max-width: 920px;
    margin: 0 auto;
    padding-bottom: 64px
}
@media (max-width: 568px) {
    .main-contents-inner {
        padding-top: 0;
        padding-bottom: 16px
    }
}
.main-contents-title {
    margin-bottom: 8px;
    font-size: 25px;
    line-height: 28px
}
.main-contents-description {
    margin-bottom: 24px
}
.main-contents .list {
    counter-reset: one;
    padding: 0;
    margin: 0
}
.main-contents .list-category {
    margin-bottom: 24px;
}
.main-contents .list-category-title {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 8px;
    margin-bottom: 16px
}
.main-contents .list-sublist {
}
.main-contents .list-sub-index {
    position:relative;
    top:-1px;
    font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
    font-size: 12px;
    line-height: 16px;
}
.main-contents .list-sub-link {
    padding-left: 12px;
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 23px;
}
.main-contents .list-sub-link .badge {
    position:relative;
    top: -2px;
}

/* Styles for popover */
.popover{
    max-width:600px;
}
.list-posting {
    padding-left: 10px;
}
.list-posting .icon-blog {
    color: #3366ff;
}
.list-posting .icon-portfolio {
    color: #5CB85C;
}
.list-posting .icon-tutorial {
    color: #f48544;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: -10px;
}
