.main-en-contents {
    background: #fff;
    outline: none
}
@media (min-width: 1220px) {
    .main-en-contents {
        line-height: 20px
    }
}
.main-en-contents ul>li {
    margin: 0
}
.main-en-contents ul>li:before {
    content: ""
}
@media (max-width: 1120px) {
    .main-en-contents {
        margin-bottom: 0;
        padding: 0 16px
    }
}
@media (max-width: 568px) {
    .main-en-contents {
        margin-top: 34px
    }
}
.main-en-contents__container {
    position: relative
}
.main-en-contents__container:before {
    content: "";
    height: 54px;
    position: absolute;
    top: -54px;
    right: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .04) 0, transparent)
}
.main-en-contents__container:first-child:before {
    display: none
}
@media (max-width: 568px) {
    .main-en-contents__container:before {
        display: none
    }
}
.main-en-contents__inner {
    max-width: 920px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 64px
}
@media (max-width: 568px) {
    .main-en-contents__inner {
        padding-top: 0;
        padding-bottom: 16px
    }
}
.main-en-contents__part {
    min-width: 80px;
    display: inline-block;
    margin-bottom: 17px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #9b6b6b;
    border-radius: 12px;
    font-size: 12px;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}
.main-en-contents__title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 28px
}
.main-en-contents__description {
    max-width: 490px;
    margin-bottom: 24px
}
.main-en-contents__description p {
    margin: 0 0 8px
}
.main-en-contents .list {
    counter-reset: one;
    padding: 0;
    margin: 0
}
.main-en-contents .list__title {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 8px;
    margin-bottom: 16px
}
.main-en-contents .list__link {
    color: #373636
}
.main-en-contents .list__item {
    list-style: none;
    counter-increment: one
}
.main-en-contents .list-sub {
    padding: 0;
    margin: 0;
    counter-reset: two;
    margin-bottom: 24px;
    list-style-type: none;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    -webkit-columns: 3;
    columns: 3
}
@media (max-width: 840px) {
    .main-en-contents .list-sub {
        -webkit-columns: 2;
        columns: 2
    }
}
@media (max-width: 568px) {
    .main-en-contents .list-sub {
        -webkit-columns: 1;
        columns: 1
    }
}
.main-en-contents .list-sub__title {
    position: relative;
    padding-left: 38px;
    margin-bottom: 2px
}
.main-en-contents .list-sub__title:before {
    position: absolute;
    top: 4px;
    left: 0;
    font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
    font-size: 12px;
    line-height: 16px;
    content: counter(one) "." counter(two)
}
.main-en-contents .list-sub__link {
    font-size: 16px;
    line-height: 23px
}
.main-en-contents .list-sub__item {
    counter-increment: two;
    -webkit-column-break-inside: avoid;
    break-inside: avoid
}
@media (max-width: 568px) {
    .main-en-contents .list-sub__item_phone_hidden {
        display: none
    }
}
.main-en-contents .list-sub__more {
    cursor: pointer;
    display: none;
    margin-left: 38px;
    font-size: 16px;
    line-height: 23px
}
@media (max-width: 568px) {
    .main-en-contents .list-sub__more {
        display: inline-block
    }
}
