.main-contents {
    background: #fff;
    outline: none
}
@media (min-width: 1220px) {
    .main-contents {
        line-height: 20px
    }
}
.main-contents ul>li {
    margin: 0
}
.main-contents ul>li:before {
    content: ""
}
@media (max-width: 1120px) {
    .main-contents {
        margin-bottom: 0;
        padding: 0 16px
    }
}
@media (max-width: 568px) {
    .main-contents {
        margin-top: 34px
    }
}
.main-contents-inner {
    max-width: 920px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 64px
}
@media (max-width: 568px) {
    .main-contents-inner {
        padding-top: 0;
        padding-bottom: 16px
    }
}
.main-contents-title {
    margin-bottom: 8px;
    font-size: 25px;
    line-height: 28px
}
.main-contents-description {
    margin-bottom: 24px
}
.main-contents .list {
    counter-reset: one;
    padding: 0;
    margin: 0
}
.main-contents .list-title {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 8px;
    margin-bottom: 16px
}
.main-contents .list-item {
    list-style: none;
    counter-increment: one
}
.main-contents .list-sub {
    padding: 0;
    margin: 0;
    counter-reset: two;
    margin-bottom: 24px;
    list-style-type: none;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    -webkit-columns: 3;
    columns: 3
}
@media (max-width: 840px) {
    .main-contents .list-sub {
        -webkit-columns: 2;
        columns: 2
    }
}
@media (max-width: 568px) {
    .main-contents .list-sub {
        -webkit-columns: 1;
        columns: 1
    }
}

.main-contents .list-sub-title {
    position: relative;
    padding-left: 38px;
    margin-bottom: 2px
}
.main-contents .list-sub-title:before {
    position: absolute;
    top: 4px;
    left: 0;
    font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
    font-size: 12px;
    line-height: 16px;
    content: counter(one) "." counter(two)
}
.main-contents .list-sub-link {
    font-size: 16px;
    line-height: 23px
}
.main-contents .list-sub-item {
    counter-increment: two;
    -webkit-column-break-inside: avoid;
    break-inside: avoid
}
.list-category {
    margin: 20px;
}
.button-item {
    margin: 5px 0px;
}
/* Styles go here */

.box {
    display:block;
    width:200px;
    height:100px;
    background-color:#DDD;
}
#pop {
    padding:0px 0px;
}
#example {
    position:relative;
}
