.dl-unsur {
    position:relative;
    float:left;
}

.dl-unsur dd {
    width:100%;
    border-top:1px solid #959595;
    display:block;
    float:left;
    padding-top: 8px;
    margin-bottom: 0;
}
.dl-unsur dd:first-child {
    border-top:0;
}

.dl-unsur dd > a {
    width:100%;
    margin-left:5px;
}

.dl-unsur dd > div > div > a > div {
    font-family:sans-serif, serif;
    font-size:23px;
    width:100%;
    line-height:1.2em;
}
.dl-unsur dd> div > div > p {
    width:100%;
    margin:0 0 0 0px;
    font-size:18px;
}
.dl-unsur dd> div > div > div > p {
    width:100%;
    margin:0 0 0 5px;
    font-size:15px;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  .dl-unsur dd {
      padding-top: 4px;
  }
  .dl-unsur dd > div > div > a > div {
    font-size:18px;
  }
  .dl-unsur dd> div > div > p {
    font-size:14px;
  }
  .dl-unsur dd> div > div {
    font-size:14px;
  }
}
