<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- cdn
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
  -->

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <link href="/public/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
  <link href='/public/css/ubuntu.css' rel='stylesheet' type='text/css'>
  <link href="/public/css/main.css" rel='stylesheet' type='text/css' />
  <link href="/public/css/rouge.css" rel="stylesheet">
  {% if page.key == "cv" %}
    <link href="/public/css/cv.css" rel='stylesheet' type='text/css' />
  {% endif %}
  {% if page.blog == "list" %}
    <link href="/public/css/newslist.css" rel='stylesheet' type='text/css' />
  {% endif %}
  {% if page.key == "favorite" %}
    <link href="/public/css/favorite.css" rel='stylesheet' type='text/css' />
  {% endif %}

  <!-- move to here, script should be inside head, otherwise doesn't work for ie -->
  {% include google_analytics.html %}

</head>
