<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href="/public/css/main.css" rel='stylesheet' type='text/css' />
	{% if page.key == "cv" %}
		<link href="/public/css/cv.css" rel='stylesheet' type='text/css' />
	{% endif %}
</head>
