<nav class="navbar navbar-expand-lg bg-dark fixed-top navbar-dark navbar-custom">
  <a class="navbar-brand" href="/">
      <img class="rounded-circle" width="30" height="30" alt="logo" src="/assets/assets/rz-50px.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% for link in site.navlist %}
          {% if link.visible == true %}
            {% if link.sublist %}
            <li class="nav-item dropdown {% if link.subkeys contains page.key %} active {% endif %}">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ link.url }}"><i class="{{ link.icon }}"></i> {{ link.key | capitalize }}</a>
              <div class="dropdown-menu">
                {% for sublink in link.sublist %}
                  <a class="dropdown-item {% if page.key == sublink.key %} active {% endif %}" href="{{ sublink.url }}"><i class="{{ sublink.icon }}"></i> {{ sublink.description | capitalize }}</a>
                {% endfor %}
              </div>
            </li>
            {% else %}
              <li class="nav-item {% if page.key == link.key %} active {% endif %}"><a class="nav-link" href="{{ link.url }}"><i class="{{ link.icon }}"></i> {{ link.key | capitalize }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
      <form class="form-inline ml-auto" action="/search">
        <!--<div class="input-group">
           <input class="form-control border-secondary py-2" style="width:100px" type="search" name="k" placeholder="Search this site">
           <div class="input-group-append">
               <button class="btn btn-outline-secondary" type="submit">
                   <i class="fa fa-search"></i>
               </button>
           </div>
         </div>-->
        <div class="form-group">
          <input class="form-control mr-sm-2" type="text" placeholder="Search this site" name="k" id="search-box">
        </div>
        <div class="form-group">
          <button class="btn btn-outline-light search-btn" type="submit">Search</button>
        </div>
      </form>
    </div>
</nav>
