<style>
.pager {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pager li {
  float: left;
}

.pager .next {
  float:right
}
.pager .disable a {
  border-color: #ccc;
  color: #808080;
}

@media (max-width: 424px) {
    .pager .btn {
        font-size: 13px;
        padding: 0.2rem;
    }
}
</style>

<script>
document.body.onkeyup = function(e){
  if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
  if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
};
</script>
{% if page.collection %}
  {% assign posts = site[page.collection] | sort: 'index' %}
  {% for posting in posts %}
    {% if posting.title == page.title %}
      {% unless forloop.first %}
        {% assign prevurl = prev.url %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = posts[forloop.index] %}
        {% assign nexturl = next.url %}
      {% endunless %}
    {% endif %}
    {% assign prev = posting %}
  {% endfor %}

  <ul class="pager">
    {% if prevurl %}
      <li><a class="btn btn-outline-primary" href="{{prevurl}}">Previous</a></li>
    {% else %}
      <li class="disable"><a class="btn btn-outline-primary disabled" href="{{prevurl}}">Previous</a></li>
    {% endif %}
    {% if nexturl %}
      <li class="next"><a class="btn btn-outline-primary" href="{{nexturl}}">Next</a></li>
    {% else %}
      <li class="next disable"><a class="btn btn-outline-primary disabled" href="{{nexturl}}">Next</a></li>
    {% endif %}
  </ul>
{% endif %}
