<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h1 class="page-header">{{ page.title }} <small>{{page.description}}</small></h1>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs tab-full" role="tablist">
        {% for category in page.categories %}
        <li class="nav-item">
          <a class="nav-link {% if category.type contains page.defaultcategory %} active {% endif %}" data-toggle="tab" href="#{{category.type}}"><h5 class="tab-title">{{category.name}}</h5></a>
        </li>
        {% endfor %}
      </ul>
      <ul class="nav nav-tabs tab-dropdown" role="tablist">
        {% if page.categories.size < 4 %}
          {% for category in page.categories %}
          <li class="nav-item">
            <a class="nav-link {% if category.type contains page.defaultcategory %} active {% endif %}" data-toggle="tab" href="#{{category.type}}"><h5 class="tab-title">{{category.name}}</h5></a>
          </li>
          {% endfor %}
        {% else %}
          {% for category in page.categories %}
          {% assign idx1 = forloop.index %}
            {% if idx1 < 4 %}
              <li class="nav-item">
                <a class="nav-link {% if category.type contains page.defaultcategory %} active {% endif %}" data-toggle="tab" href="#{{category.type}}">{{category.name}}</a>
              </li>
            {% endif %}
          {% endfor %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">More</a>
            <div class="dropdown-menu">
              {% for category in page.categories %}
                {% assign idx2 = forloop.index %}
                {% if idx2 >= 4 %}
                  <a class="dropdown-item" data-toggle="tab" href="#{{category.type}}"><span>{{category.name}}</span></a>
                {% endif %}
              {% endfor %}
            </div>
          </li>
        {% endif %}
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        {% for category in page.categories %}
        <div id="{{category.type}}" class="tab-pane {% if category.type contains page.defaultcategory %} active {% else %} fade {% endif %}"><br>
          <p>{{category.description}}</p>
          <dl class="dl-unsur">
            {% assign list = postings | where: 'category', category.type %}
            {% for posting in list %}
            <dd>
            <div class="media">
              <div class="media-left">
                <a href="{{ posting.url }}" title="{{ posting.title }}">
                  <img src="../assets/assets/category/{{ posting.image }}" class="rounded">
                </a>
              </div>
              <div class="media-body">
                <a class="title-org" href="{{ posting.url }}" title="{{ posting.title }}"><div class="subject"><span>{{ posting.index }}. {{ posting.title }}</span></div></a>
                <a class="title-abb" href="{{ posting.url }}" title="{{ posting.title }}"><div class="subject"><span>{{ posting.index }}. {{ posting.title }}</span></div></a>
                <p class="excerpt">{{ posting.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip }}</p>
                <div class="pull-left">
                    <ul class="list-inline list-unstyled">
                      <li class="list-inline-item"><span><i class="far fa-calendar-alt" style="color:#bc2105"></i></span> {{ posting.date | date_to_string }}</li>
                      <li class="list-inline-item">|</li>
                      <li class="list-inline-item"><span><i class="fas fa-comments" style="color:#008c25"></i></span> <a href="{{ posting.url }}#disqus_thread">Comments</a></li>
                      <li class="list-inline-item hidden-extra">|</li>
                      <li class="list-inline-item hidden-extra">
                        <span><i class="fas fa-tags" style="color:#3B5998"></i> {{ posting.tags | join: ", "}} </span>
                      </li>
                      <li class="list-inline-item hidden-extra">|</li>
                      <li class="list-inline-item hidden-extra">
                      <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                        <span><i class="fab fa-facebook" style="color:#3B5998"></i></span>
                        <span><i class="fab fa-twitter-square" style="color:#1DA1F2"></i></span>
                        <span><i class="fab fa-google-plus" style="color:#DB4437"></i></span>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
            </dd>
            {% endfor %}
          </dl>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
