<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Course List</title>
  <meta charset = "utf-8">
  <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
  <link href="css/main.css" rel='stylesheet' type='text/css' />
</head>
<body>
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <ul class="nav navbar-nav">
         <li><a class="navbar-brand" href="index.html">Rong Zhuang</a></li>
       </ul>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav">
         <li><a href="portfolio.html">Portfolio</a></li>
         <li><a href="blog.html">Blog</a></li>
         <li><a href="cv.html">CV</a></li>
         <li class="active"><a href="course.html">Course</a></li>
         <li><a href="about.html">About</a></li>
         <li><a href="feed.html">Feed</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a href="images/cv.pdf"><span class="glyphicon glyphicon-download-alt"></span> Download CV</a></li>
         <li><a href="contact.html"><span class="glyphicon glyphicon-user"></span> Contact</a></li>
       </ul>
     </div>
   </div>
  </nav>
  <div class="container">
    <h1>Course List for Master's Degree of Computer Science (GPA: 3.9)</h1>
    <div class="panel panel-info">
      <div class="panel-heading">Autumn Quarter, 2014</div>
      <div class="panel-body">
        <h4>CSC 421 - Applied Algorithms and Structures (A-)</h4>
        <span>Fundamental algorithms including: Sorting(Bubble, Merge, Quick...), Dynamic Programming, NP, etc.</span>
      </div>
      <div class="panel-body">
        <h4>CSC 447 - Concepts of Programming Languages (A)</h4>
        <span>Java, Scala</span>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Spring Quarter, 2014</div>
      <div class="panel-body">
        <h4>SE 450 - Object-Oriented Software Development (A)</h4>
        <span>OO Concept, Design Pattern, Multi-Threading, Java, Elevator System</span>
      </div>
      <div class="panel-body">
        <h4>CSC 453 - Database Technologies (A)</h4>
        <span>SQL Query</span>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Summer Quarter, 2014</div>
      <div class="panel-body">
        <h4>CSC 555 - Mining Big Data (A)</h4>
        <span>Map Reduce, Hadoop, Hive, Pig</span>
      </div>
      <div class="panel-body">
        <h4>CSC 471 - Mobile Applications Development for iOS (A)</h4>
        <span>iOS, Swift</span>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Autumn Quarter, 2015</div>
      <div class="panel-body">
        <h4>CSC 435 - Distributed Systems I (A)</h4>
        <span>Socket, Http, Web</span>
      </div>
      <div class="panel-body">
        <h4>CSC 472 - Mobile Applications Development for Android (A)</h4>
        <span>Android, Java</span>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Winter Quarter, 2015</div>
      <div class="panel-body">
        <h4>SE 526 -  Software Security Assessment (A)</h4>
        <span>Static Analysis, Dynamic Analyis, Windows PE, Ubuntu</span>
      </div>
      <div class="panel-body">
        <h4>CSC 575 - Intelligent Information Retrieval (A-)</h4>
        <span>IR, Similarity, Page Rank</span>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Spring Quarter, 2015</div>
      <div class="panel-body">
        <h4>SE 452 - Object-Oriented Enterprise Computing </h4>
        <span>Java, Servlet, JSP, Tomcat, JDBC, MySQL</span>
      </div>
      <div class="panel-body">
        <h4>CSC 452- Database Programming </h4>
        <span>PL/SQL, Query, Anonymous Block, Stored Procedure, Function</span>
      </div>
      <div class="panel-body">
        <h4>ECT 583 - Advanced Scripting Technologies </h4>
        <span>C#, ASP.NET MVC, Web API, Caching, Redis, WebService, EntityFramework</span>
      </div>
    </div>
  </div>
<footer class="container-fluid text-center">
  <p>
    &copy; 2016. All rights reserved.
  </p>
</footer>
</body>
</html>
