html, body{
	font-family: 'Ubuntu', sans-serif;
	font-size: 100%;
	background: #ffffff;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

ul.posts {
    font-size: 1.4em;
}

.right_grid{
	float:left;
	width:50%;
}

.portfolio-item {
    margin-bottom: 25px;
}
.item-border {
	border: 1px solid #e9e9e9;
}
.item-title {
	padding: 0 5px;
}
