$border-color: #e9e9e9;
$progress-bar-color: #1cc927;

html, body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  background: #ffffff;
}

img {
  border: 1px solid $border-color;
  max-width:100%;
}

img.my_photo {
  border: 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

table, th, td {
  border: 1px solid $border-color;
  padding: 10px;
}

@media (max-width: 576px) {
  table tr th {
    font-size: 14px;
  }
  table tr td {
    font-size: 13px;
  }
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

h1 small {
  font-size: 60%;
  color: #777;
}

blockquote {
  padding: 10px 15px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

/* Navigate within page, see https://github.com/twbs/bootstrap/issues/1768*/
/* search tax-api-feature for example, click on the link to see the effect of in-page anchor*/
*[id]:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}

/* progress bar */
.nanobar .bar {
  margin-top: 56px;
  background: $progress-bar-color;
  /* background: url(../assets/assets/rainbow.gif) 100%;
  height: 2px;*/
}

/* scroll bar for drowdown button */
@media (max-width: 500px) {
  #navbarCollapse {
    overflow-y: scroll !important;
    max-height: 500px !important;
  }
  /*
  .dropdown-menu{
      height:200px;
      overflow-y:auto;
   }*/
}

/* search */
.searchbox {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
@media (max-width: 424px) {
  .searchbox {
    padding-bottom: 0px;
  }
  .searchbox h1 {
    font-size: 25px;
  }
}
/* highlighting */
pre {
  /*
  display: block;
  padding: 8px;
  margin: 0 0 10px;*/
  font-size: 13px;
  line-height: 1.42857143;
  /*color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;*/
  border: 1px solid #ccc;
  border-radius: 4px;
}

table.hljs-ln {
  width: auto;
  border-width: 0px;
}
table.hljs-ln td {
  border-width: 0px;
}

/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC !important;
  vertical-align: top;
  padding-right: 5px !important;
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px !important;
}

@media (max-width: 424px) {
  pre {
    font-size: 11px;
    line-height: 1.3;
  }
}

.language-raw {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #F0F0F0;
}

code.highlighter-rouge {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/* breadcrumb */
.breadcrumb-item + .breadcrumb-item::before {
    content: ">"; /* change separator of breadcrumb  */
}

@media (max-width: 424px) {
  .breadcrumb {
    font-size: 15px;
  }
}

.container {
  margin-top:80px;
}

.container .image-software {
  border: 1px solid $border-color;
  display: block;
}

.card-deck {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 9px;
  margin-bottom: 20px;
}
.page-header small {
  font-size: 60%;
  color: #777;
}

@media (max-width: 768px) {
  .page-header {
    font-size: 30px;
  }
}

@media (max-width: 424px) {
  .page-header {
    font-size: 25px;
  }
}

/* tab */
.tab-dropdown {
  display:none;
  margin:0 auto;
}
.tab-dropdown li {
  display:inline-block;
}
.tab-dropdown span {
  font-size: 15px;
}
@media (max-width: 424px) {
  .tab-full {
      display: none;
  }
  .tab-dropdown {
      display: block;
  }
  .tab-title {
      font-size: 15px;
  }
}

.post-content p {
  font-size: 16px;
}
@media (max-width: 992px) {
  .post-content h1 {
    font-size: 28px;
  }
  .post-content h2 {
    font-size: 25px;
  }
  .post-content h3 {
    font-size: 22px;
  }
}
@media (max-width: 424px) {
  /* content of post */
  .post-content h1 {
    font-size: 22px;
  }
  .post-content small {
    font-size: 14px;
  }
  .post-content h2 {
    font-size: 20px;
  }
  .post-content h3 {
    font-size: 17px;
  }
  .post-content p {
    font-size: 14px;
  }
  .post-content li {
    font-size: 14px;
  }
  .post-content blockquote {
    padding: 5px 15px;
    margin: 0 0 10px;
    font-size: 13.5px;
  }
}

/* Tutorial list, popular.html, tutorial.html, note.html*/
.media-left img {
  width: 80px;
  margin: 0 10px 0 0;
}
.media-body .title-org {
  display: block;
}
.media-body .title-abb {
  display: none;
}

@media (max-width: 992px) { /* large screen */
  .media-left img {
    width: 60px;
    margin: 0 5px 0 0;
  }
  .media-body .subject {
    font-size: 20px;
  }
  .media-body .excerpt {
    display: none;
  }
  .media-body .more-att {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  .media-left img {
    width: 45px;
    margin: 0 5px 0 0;
  }
  .media-body .subject {
    font-size: 18px;
  }
  .media-body .more-att {
    font-size: 15px;
  }
  .media-body .hidden-extra {
    display: none;
  }
}

@media (max-width: 424px) {
  .media-left img {
    width: 35px;
    margin: 0 5px 0 0;
  }
  .media-body .subject {
    font-size: 14px;
  }
  .media-body .more-att {
    font-size: 12px;
  }
  .media-body .hidden-extra {
    display: none;
  }
  .media-body .title-org {
    display: none;
  }
  .media-body .title-abb {
    display: block;
  }
  .media-body .list-inline-item {
    margin-right: 0;
  }
}

/* index.html, about.html*/
.index-content p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .index-content p {
    font-size: 17px;
  }
}
@media (max-width: 424px) {
  .index-content p {
      font-size: 16px;
  }
}

/* portfolio.html */
.portfolio-item {
    margin-bottom: 25px;
}
.item-border {
  border: 1px solid $border-color;
}
.item-detail {
  margin-top: 15px;
  padding: 0 5px;
}
.item-detail h3 {
  font-size: 23px;
}
@media (max-width: 1200px) {
  .item-detail h3 {
    font-size: 15px;
  }
  .item-detail p {
    font-size: 12px;
  }
}

/* resource.html */
.resource .title-org {
  display: inline-block;
}
.resource .title-abb {
  display: none;
}
@media (max-width: 424px) {
  .resource .title-org {
    display: none;
  }
  .resource .title-abb {
    display: inline-block;
  }
}
