---
layout: default
key: blog
type: blog
title: Rong Zhuang's Blog
---
<div style="background:transparent !important" class="jumbotron">
  <div class="container">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h2>{{ page.title }}</h2>
      <ul class="posts">
        {% for post in site.categories.[page.type] %}
            <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      <dl class="dl-unsur">
        {% for post in site.categories.[page.type] %}
            <a href="{{ post.url }}" title="{{ post.title }}" class="pull-left">
                <div class="pull-left" >{{ post.title }}</div>
            </a>
            <p class="small pull-left" ><span class="glyphicon glyphicon-time"></span> {{ post.date | date_to_string }}</p>
        {% endfor %}
      </dl>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<div class="container">
	<div class="row">
		<h2>Vertical List bbc news panel</h2>

<dl class="dl-unsur">

	<dd>
        <a href="/turkce/haberler-turkiye-38878761" class="pull-left">

            <div class="pull-left" >News news news news news news news news news news news news news .</div>
        </a>
        <p class="small pull-left" ><span class="glyphicon glyphicon-time"></span> 18 Ocak 2017</p>
    </dd>
	<dd>
        <a href="/turkce/haberler-turkiye-38878761" class="pull-left">

            <div class="pull-left" >news news news news news news news news news news news news ?</div>
        </a>
        <p class="small pull-left" ><span class="glyphicon glyphicon-time"></span> 18 Ocak 2017</p>
    </dd>
    <dd>
        <a href="/turkce/haberler-turkiye-38878761" class="pull-left">

            <div class="pull-left" >news news news news news news news news news news news news ?</div>
        </a>
        <p class="small pull-left" ><span class="glyphicon glyphicon-time"></span> 18 Ocak 2017</p>
    </dd>

</dl>


	</div>
</div>
