---
layout: default
key: portfolio
type: portfolio
title: Rong Zhuang's Portfolio
---
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Mobile Apps
        <small>iOS, Android, Windows Phone, Xamarin</small>
      </h1>
    </div>
  </div>
  <div class="row">
    {% for post in site.categories[page.type] %}
      {% if post.subcateogry == "mobile" %}
        <div class="col-md-3 portfolio-item">
          <div class="item-border">
            <a href="{{ post.url }}">
              <img class="img-responsive" src="{{ post.image }}" alt="image">
            </a>
            <div class="item-title">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <p>{{ post.excerpt }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Java & Node Apps
        <small>Java, Servlet, JSP, MySql, Node.js, Electron</small>
      </h1>
    </div>
  </div>
  <div class="row">
    {% for post in site.categories[page.type] %}
      {% if post.subcateogry == "java" %}
        <div class="col-md-4 portfolio-item">
          <div class="item-border">
            <a href="{{ post.url }}">
              <img class="img-responsive" src="{{ post.image }}" alt="image">
            </a>
            <div class="item-title">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <p>{{ post.excerpt }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Web & Desktop Apps
        <small>.NET, C#, ASP.MVC, Web API, WebSocket, SignalR</small>
      </h1>
    </div>
  </div>
  <div class="row">
    {% for post in site.categories[page.type] %}
      {% if post.subcateogry == "dotnet" %}
        <div class="col-md-4 portfolio-item">
          <div class="item-border">
            <a href="{{ post.url }}">
              <img class="img-responsive" src="{{ post.image }}" alt="image">
            </a>
            <div class="item-title">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <p>{{ post.excerpt }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<br/><br/>
