---
layout: default
key: programming
note: list
title: Programming
categories:
  - name: Interview
    description: Java, Html, Javascript, System Design
    type: interview
  - name: Java
    description: Data Type, Collection, Multithreading
    type: java
---
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        {% assign lessons = site.programming | sort: 'index' %}
        {% for category in page.categories %}
        <div>
          <h1 class="page-header">{{category.name}} <small>{{category.description}}</small></h1>
        </div>
        <dl class="dl-unsur">
          {% assign list = lessons | where: 'category', category.type %}
          {% for lesson in list %}
          <dd>
          <div class="media">
            <a href="{{ lesson.url }}" title="{{ lesson.title }}">
              <img src="../assets/assets/{{ lesson.image }}" class="rounded" style="width:80px;margin-right:10px">
            </a>
            <div class="media-body">
              <a href="{{ lesson.url }}" title="{{ lesson.title }}"><div class="subject"><span>{{ lesson.index }}. {{ lesson.title }}</span></div></a>
              {{ lesson.excerpt | remove: "<blockquote>" | remove: "</blockquote>"}}
              <div class="pull-left">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item"><span><i class="fa fa-comments" style="color:#008c25"></i></span> <a href="{{ lesson.url }}#disqus_thread">Comments</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item">
                      <span><i class="fa fa-tags" style="color:#3B5998"></i> {{ lesson.tags | join: ", "}} </span>
                    </li>
                    <li class="list-inline-item hidden-extra">|</li>
                    <li class="list-inline-item hidden-extra">
                    <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                      <span><i class="fa fa-facebook-square" style="color:#3B5998"></i></span>
                      <span><i class="fa fa-twitter-square" style="color:#1DA1F2"></i></span>
                      <span><i class="fa fa-google-plus-square" style="color:#DB4437"></i></span>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
          </dd>
          {% endfor %}
        </dl>
        {% endfor %}
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
