<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
  <link href="css/main.css" rel='stylesheet' type='text/css' />
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="index.html">Rong Zhuang</a></li>
      </ul>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="portfolio.html">Portfolio</a></li>
        <li class="active"><a href="blog.html">Blog</a></li>
        <li><a href="cv.html">CV</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="feed.html">Feed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="images/cv.pdf"><span class="glyphicon glyphicon-download-alt"></span> Download CV</a></li>
        <li><a href="contact.html"><span class="glyphicon glyphicon-user"></span> Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div style="background:transparent !important" class="jumbotron">
<div class="container">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">
    <h2>Rong Zhuang's Blog</h2>
  	<ul class="posts">
  		<li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
      <li><span>20 Jan 2016</span> » <a href="post.html" title="Hank Quinlan, Horrible Cop, Launches Site">Johnny's first blog</a></li>
  	</ul>
  </div>
  <div class="col-sm-2">

  </div>
</div>
</div>
<footer class="container-fluid text-center">
  <p>
    &copy; 2016. All rights reserved.
  </p>
</footer>

</body>
</html>
