<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
  <link href="css/main.css" rel='stylesheet' type='text/css' />
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
	  /*background-color: #f2f2f2;*/
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Rong Zhuang</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="cv.html">CV</a></li>
        <li><a href="course.html">Course</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Feed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="images/cv.pdf"><span class="glyphicon glyphicon-download-alt"></span> Download CV</a></li>
        <li class="active"><a href="contact.html"><span class="glyphicon glyphicon-user"></span> Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div style="background:transparent !important" class="jumbotron">
  <div class="container">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <p>You can contact me via following ways:
      <ul>
      <li><img src="images/gmail.png" alt="gmail"/> Email: jojozhuang@gmail.com</li>
      <li><img src="images/phone.png" alt="phone"/> Cell Phone: (+1) 312 478 6579</li>
			<li><img src="images/linkedin.png" alt="linkedin"/> LinkedIn: <a href="https://www.linkedin.com/in/rongzhuang">https://www.linkedin.com/in/rongzhuang</a></li>
			<li><img src="images/fb.png" alt="facebook"/> Facebook: <a href="https://www.facebook.com/johnny.zhuang.37"> https://www.facebook.com/johnny.zhuang.37</a></li>
			<li><img src="images/twt.png" alt="twitter"/> Twitter: <a href="https://twitter.com/jojozhuang"> https://twitter.com/jojozhuang</a></li>
			<li><img src="images/gg.png" alt="google plus"/> Google Plus: <a href="https://plus.google.com/+RongZhuang81"> https://plus.google.com/+RongZhuang81</a></li>
      </ul>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>
    &copy; 2016. All rights reserved.
  </p>
</footer>

</body>
</html>
