<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
  <link href="css/main.css" rel='stylesheet' type='text/css' />
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
	  /*background-color: #f2f2f2;*/
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Rong Zhuang</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="cv.html">CV</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Feed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="images/cv.pdf"><span class="glyphicon glyphicon-download-alt"></span> Download CV</a></li>
        <li class="active"><a href="contact.html"><span class="glyphicon glyphicon-user"></span> Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div style="background:transparent !important" class="jumbotron">
  <div class="container">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <p>You can contact via following ways:
      <ul>
      <li>Email: jojozhuang@gmail.com</li>
      <li>Cell Phone: 312 478 6579</li>
      </ul>

      <div class="right_grid">
        <h4>Social</h4>
        <ul class="media_sec">
          <li><a href="https://www.linkedin.com/in/rongzhuang"><img src="images/linkedin.png" alt=""/>LinkedIn / Rong Zhuang</a></li>
          <li><a href="https://www.facebook.com/johnny.zhuang.37"><img src="images/fb.png" alt=""/>facebook / Rong Zhuang</a></li>
          <li><a href="https://twitter.com/jojozhuang"><img src="images/twt.png" alt=""/>twitter / Rong Zhuang</a></li>
          <li><a href="#"><img src="images/gg.png" alt=""/>google plus / Lorem.com</a></li>
        </ul>
      </div>

    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>
    &copy; 2016. All rights reserved.
  </p>
</footer>

</body>
</html>
