<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rong Zhuang's Curriculum Vitae</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/style.css" rel='stylesheet' type='text/css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
	  background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Rong Zhuang</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Blog</a></li>
        <li><a href="about.html">About</a></li>
        <li class="active"><a href="#">CV</a></li>
        <li><a href="#">Feed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- header -->
<div class="container">
	 <div class="header">
		 <h1>Rong <br>Zhuang</h1>
	 </div>
	 <div class="header-right">
		 <div class="list">
		 <ul>
			 <li><a href="mailto:jojozhuang@gmail.com">jojozhuang@gmail.com</a></li>
			 <li>/</li>
			 <li>(312) 478 6579</li>
		 </ul>
		 </div>
		 <h2>web developer<br> & designer</h2>
	 </div>
	 <div class="clearfix"></div>
</div>
<!---->
<div class="content">
	 <div class="container">
		  <h3>Work Experience</h3>
	       <div class="work">
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>COMPANY NAME</h5>
					 <p>New York, NY</p>
				 </div>
				 <div class="col-md-7 posts">
					 <h4>Web Director</h4>
					 <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis nibh leo.
				 Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et pellentesque leo imperdiet.
				 Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in neque. In tincidunt sed enim et tincidunt.</p>
				 </div>
				 <div class="col-md-2 date">
					 <p>2013 - 14</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>COMPANY NAME</h5>
					 <p>Beston, NY</p>
				 </div>
				 <div class="col-md-7 posts">
					 <h4>Content Manager</h4>
					 <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis nibh leo.
				 Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et pellentesque leo imperdiet.
				 Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in neque. In tincidunt sed enim et tincidunt.</p>
				 </div>
				 <div class="col-md-2 date">
					 <p>2011 - 12</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>COMPANY NAME</h5>
					 <p>Chicago, NY</p>
				 </div>
				 <div class="col-md-7 posts">
					 <h4>Web Master</h4>
					 <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis nibh leo.
				 Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et pellentesque leo imperdiet.
				 Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in neque. In tincidunt sed enim et tincidunt.</p>
				 </div>
				 <div class="col-md-2 date">
					 <p>2009 - 10</p>
				 </div>
     			 <div class="clearfix"></div>
			 </div>
		 </div>
		 <h3>Personal Information</h3>
		 <div class="info">
			 <p>Fusce in vulputate sapien. Phasellus tincidunt at dolor id consectetur. Integer vitae rhoncus eros. Integer ac nunc dictum,
			 lacinia tortor ac, pulvinar lectus. Nunc gravida non est nec semper. Suspendisse imperdiet velit in pretium laoreet.
			 liquam in orci ac odio egestas porttitor sit amet accumsan enim. Morbi nec sollicitudin ante, eu tempus diam. Integer lectus justo, consectetur
			 sit amet enim tristique, egestas consequat ex. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		 </div>
		 <h3>Education</h3>
	       <div class="education">
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>UNIVERSITY NAME</h5>
					 <p>New York, NY</p>
				 </div>
				 <div class="col-md-7 college">
					 <h4>POST GRADUATION</h4>
					 <h5>Description of course and more information.</h5>
				 </div>
				 <div class="col-md-2 date">
					 <p>2006 - 08</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>INSTITUTE NAME</h5>
					 <p>Beston, MA</p>
				 </div>
				 <div class="col-md-7 college">
					 <h4>GRADUATION</h4>
					 <h5>Description of course and more information.</h5>
				 </div>
				 <div class="col-md-2 date">
					 <p>2003 - 06</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>INSTITUTE NAME</h5>
					 <p>Chicago, NY</p>
				 </div>
				 <div class="col-md-7 college">
					 <h4>SCHOOLING</h4>
					 <h5>Description of course and more information.</h5>
				 </div>
				 <div class="col-md-2 date">
					 <p>2000 - 03</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 <div class="skills">
			 <div class="col-md-6 skill-list">
				 <h3>IT Skills</h3>
				 <div class="lists">
					 <div class="sub grid1">
						 <h5>Photoshop</h5>
						 <div class="progressy1"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="sub">
						 <h5>HTML5</h5>
						 <div class="progressy2"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="sub">
						 <h5>CSS3</h5>
						 <div class="progressy3"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="sub">
						 <h5>PHP</h5>
						 <div class="progressy4 php"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
				 </div>
			 </div>
			 <div class="col-md-6 skill-list">
				  <h3>Languages</h3>
				  <div class="lists2">
					  <div class="sub grid1">
						 <h5>English</h5>
						 <div class="progressy1"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="sub">
						 <h5>Spanish</h5>
						 <div class="progressy4"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="sub">
						 <h5>Italian</h5>
						 <div class="progressy6"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="sub">
						 <h5>German</h5>
						 <div class="progressy7"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="bottom_cnt">
		     <div class="left_grid">
				 <h3>Highlights</h3>
				 <ul class="list2">
					 <li>Lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
					 <li>Ut lacinia nisl et tincidunt ullamcorper.</li>
					 <li>Mauris rhoncus eros ut dui quis gravida diam varius</li>
					 <li>Cras non nulla iaculis, mollis tortor porta nunc</li>
					 <li>Donec a nisl venenatis, pulvinar tortor at, eleifend mauris.</li>
					 <li>Etiam in purus tincidunt, suscipit metus id, lacinia nisi.</li>
					 <li>Suspendisse vel orci sit amet justo rutrum rutrum quis at arcu.</li>
				 </ul>
			 </div>
			 <div class="right_grid">
				 <h3>Social</h3>
				 <ul class="media_sec">
					 <li><a href="#"><img src="images/fb.png" alt=""/>facebook / Lorem.com</a></li>
					 <li><a href="#"><img src="images/twt.png" alt=""/>twitter / Lorem.com</a></li>
					 <li><a href="#"><img src="images/gg.png" alt=""/>google plus / Lorem.com</a></li>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="copywrite">
			 <p>© 2015 Curriculum Vitae . All Rights Reseverd | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		 </div>
	</div>
</div>
<!---->



<footer class="container-fluid text-center">
  <p>
    &copy; 2016. All rights reserved.
  </p>
</footer>

</body>
</html>
