<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rong Zhuang's Curriculum Vitae</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/style.css" rel='stylesheet' type='text/css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
	  background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Rong Zhuang</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Blog</a></li>
        <li><a href="about.html">About</a></li>
        <li class="active"><a href="#">CV</a></li>
        <li><a href="#">Feed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- header -->
<div class="container">
	 <div class="header">
		 <h1>Rong <br>Zhuang</h1>
	 </div>
	 <div class="header-right">
		 <div class="list">
		 <ul>
			 <li><a href="mailto:jojozhuang@gmail.com">jojozhuang@gmail.com</a></li>
			 <li>/</li>
			 <li>(312) 478 6579</li>
		 </ul>
		 </div>
		 <h2>web & mobile developer</h2>
	 </div>
	 <div class="clearfix"></div>
</div>
<!---->
<div class="content">
	 <div class="container">
		  <h3>Work Experience</h3>
	       <div class="work">
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>DePaul University</h5>
					 <p>Chicago, IL</p>
				 </div>
				 <div class="col-md-7 posts">
					 <h4>Developer(On-Campus job)</h4>
					 <p>Independently investigated cross-platform solutions for the school’s online course system, built prototypes with HTML5, jQuery, ASP.NET, phoneGap, C# and Xamarin, created investigation document. Leading a small team to develop an online video share web application with Facebook React, jQuery and ASP.NET MVC. Finished the requirement and design document.</p>
				 </div>
				 <div class="col-md-2 date">
					 <p>2014/09 - present</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>SAP Labs China</h5>
					 <p>Shanghai, China</p>
				 </div>
				 <div class="col-md-7 posts">
					 <h4>Senior Developer/Architect</h4>
					 <p>Worked in GRC (Governance, Risk, and Compliance) Department, first acted as developer for SAP PC(Process Control), then moved to SAP GTS(Global Trade Service) and was promoted to architect later. Have the knowledge of other ERP modules: SD, MM, FI, HCM, etc. Key developer for PC dashboards built with BOBJ Dashboard(Xcelsius), supporter engineer for core function of GTS SPL. Lead team to finish the development for China localization of GTS. Created design and technical documents, transferred GTS knowledge to team members, communicated smoothly with internal/external stakeholders.</p>
				 </div>
				 <div class="col-md-2 date">
					 <p>2009/10 - 2014/08</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>Infosys Technologies China</h5>
					 <p>Shanghai, China</p>
				 </div>
				 <div class="col-md-7 posts">
					 <h4>Senior Software Engineer</h4>
					 <p>Joined Syngenta support team at first as software engineer, then transferred to MSSolve development team and was promoted to senior software engineer later. Led team to develop a newsletter subscription web application with ASP.NET. Fully took over maintenance task from India team, analyzed the complex requirements and enhanced the current system. </p>
				 </div>
				 <div class="col-md-2 date">
					 <p>2007/11 - 2009/09</p>
				 </div>
     			 <div class="clearfix"></div>
			 </div>
		 </div>
		 <h3>Personal Information</h3>
		 <div class="info">
			 <p>Software Architect with 10+ years in large scale software development and maintenance for a wide variety of companies. Exceptional skills and experience in planning, detailing, designing and programming, familiar with SDLC (software development life cycle). Proven remarkable ability in translating business requirements to technical solutions with excellent documentation and communication skills; proficient in both SAP Netweaver and Microsoft .NET platform. A self-motivated, independent-thinking team player and a quick learner.</p>
		 </div>
		 <h3>Education</h3>
	       <div class="education">
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>DePaul University</h5>
					 <p>Chicago, IL, US</p>
				 </div>
				 <div class="col-md-7 college">
					 <h4>Master Degree in Computer Science (Full Scholarship), GPA: 3.9 (until present)</h4>
					 <h5>Graduate Coursework: Algorithms; Concepts of Programming Languages; OO Software Development; Database Technologies; Mining Big Data; iOS Development; Android Development; Distributed System; Intelligent Information Retrieval; Software Security Assessment; </h5>
				 </div>
				 <div class="col-md-2 date">
					 <p>2014/09 - 2016/06</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="details">
				 <div class="col-md-3 city">
					 <h5>East China University of Science & Technology</h5>
					 <p>Shanghai, China</p>
				 </div>
				 <div class="col-md-7 college">
					 <h4>Bachelar Degree in Computer Science and Technology</h4>
					 <h5>Undergraduate Coursework: Computer Mathematics, Operating Systems; Algorithms; Programming Languages; Database; Data Structure, Principle of Software Engineering, Computer Networks, Computer Architecture, Parallel and Distributed Computing, System Software Design.</h5>
				 </div>
				 <div class="col-md-2 date">
					 <p>2000/09 – 2004/06</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 <div class="skills">
			 <div class="col-md-6 skill-list">
				 <h3>IT Skills</h3>
				 <div class="lists">
					 <div class="sub grid1">
						 <h5>C#, ASP.NET MVC</h5>
						 <div class="progressy1"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="sub">
						 <h5>SAP, ABAP, GTS</h5>
						 <div class="progressy2"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="sub">
						 <h5>iOS(Swift), Android(Java)</h5>
						 <div class="progressy3"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
           <div class="sub">
						 <h5>PhoneGap/Cordova, Xamarin</h5>
						 <div class="progressy4 php"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
           <div class="sub">
						 <h5>Html5, javascript, bootstrap, ReactJs</h5>
						 <div class="progressy4 php"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
				 </div>
			 </div>
			 <div class="col-md-6 skill-list">
				  <h3>Languages</h3>
				  <div class="lists2">
					  <div class="sub grid1">
						 <h5>English</h5>
						 <div class="progressy1"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="sub">
						 <h5>Chinese</h5>
						 <div class="progressy4"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="sub">
						 <h5>Japanese</h5>
						 <div class="progressy6"><p></p></div>
						 <div class="clearfix"></div>
					 </div>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="bottom_cnt">
		     <div class="left_grid">
				 <h3>Highlights & Additional Info</h3>
				 <ul class="list2">
          <li>Awarded 3rd prize with an ‘SAP dictionary’ app on Windows Phone, out of 15 competitors in 2011 Developer Challenge of SAP Labs China.</li>
           <li>Developed a multi-threaded elevator system with JAVA in the course of 'OO Software Development'.</li>
           <li>Analyzed data by using Hadoop MapReduce over Amazon EC2 in the course of 'Mining Big Data'.</li>
           <li>Built iOS Apps(eg. Remote TV controller, Travel Note) with SWIFT in the course of 'Mobile APP Dev For iOS'.</li>
           <li>Built Android Apps(eg. Remote TV controller, Restaurant Recommendation) with JAVA in the course of 'Mobile APP Dev For Android’. The Restaurant app communicates with data server which is built with ASP.NET MVC to get restaurant list, images, comments, etc.</li>
           <li>Built a Web Server through socket programming with JAVA in the course of ‘Distributed System’.</li>
				 </ul>
			 </div>
			 <div class="right_grid">
				 <h3>Social</h3>
				 <ul class="media_sec">
           <li><a href="https://www.linkedin.com/in/rongzhuang"><img src="images/linkedin.png" alt=""/>LinkedIn / Rong Zhuang</a></li>
					 <li><a href="https://www.facebook.com/johnny.zhuang.37"><img src="images/fb.png" alt=""/>facebook / Rong Zhuang</a></li>
					 <li><a href="https://twitter.com/jojozhuang"><img src="images/twt.png" alt=""/>twitter / Rong Zhuang</a></li>
					 <li><a href="#"><img src="images/gg.png" alt=""/>google plus / Lorem.com</a></li>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="copywrite">
			 <p>© 2015 Curriculum Vitae . All Rights Reseverd | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		 </div>
	</div>
</div>
<!---->



<footer class="container-fluid text-center">
  <p>
    &copy; 2016. All rights reserved.
  </p>
</footer>

</body>
</html>
