<!DOCTYPE html>
<html lang="en">
   <head>
      <title itemprop="name">The Modern Javascript Tutorial</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <script>if (window.devicePixelRatio > 1) document.cookie = 'pixelRatio=' + window.devicePixelRatio + ';path=/;expires=Tue, 19 Jan 2038 03:14:07 GMT';</script>
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700%7COpen+Sans+Condensed:700&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet">
      <link rel="apple-touch-icon-precomposed" href="/img/favicon/apple-touch-icon-precomposed.png">
      <link rel="canonical" href="https://learn.javascript.info">
      <meta name="msapplication-TileColor" content="#222A2C">
      <meta name="msapplication-TileImage" content="/img/favicon/tileicon.png">
      <link rel="icon" href="/img/favicon/favicon.png">
      <link href="css/links.css" rel="stylesheet">
      <meta name="description" content="Modern JavaScript Tutorial: simple, but detailed explanations with examples and tasks, including: closures, document and events, object oriented programming and more.">
   </head>
   <body>
      <script>head.fontTest();</script>
      <div class="main-en-contents">
         <div>
            <div class="main-en-contents__inner">
               <div class="main-en-contents__title">My Favorites</div>
               <div class="main-en-contents__description">List of famous websites, popular opensource projects and useful online tools for software developers.</div>
               <div class="list">
                    <div class="list-item">
                        <div class="list-title">Online Tools</a></div>
                        <ul class="list-sub">
                            <li class="list-sub-item">
                               <div class="list-sub-title"><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="list-sub-link">Markdown Cheatsheet</a></div>
                            </li>
                            <li class="list-sub-item">
                              <div class="list-sub-title"><a href="https://www.freeformatter.com/xml-formatter.html" class="list-sub-link">XML Formatter</a></div>
                            </li>
                            <li class="list-sub-item">
                              <div class="list-sub-title"><a href="https://www.freeformatter.com/html-formatter.html" class="list-sub-link">HTML Formatter</a></div>
                            </li>
                            <li class="list-sub-item">
                              <div class="list-sub-title"><a href="https://www.freeformatter.com/html-escape.html" class="list-sub-link">HTML Escape/Unescape</a></div>
                            </li>
                            <li class="list-sub-item">
                              <div class="list-sub-title"><a href="https://www.freeformatter.com/json-formatter.html" class="list-sub-link">JSON Formatter</a></div>
                            </li>
                            <li class="list-sub-item">
                              <div class="list-sub-title"><a href="https://www.cleancss.com/css-beautify/" class="list-sub-link">CSS Formatter</a></div>
                            </li>
                            <li class="list-sub-item">
                              <div class="list-sub-title"><a href="https://iconverticons.com/online/" class="list-sub-link">Icon Converter</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-item">
                        <div class="list-title">Online Learning</a></div>
                        <ul class="list-sub">
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.w3schools.com/" class="list-sub-link">w3schools</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.tutorialspoint.com/" class="list-sub-link">tutorialspoint</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://javascript.info/" class="list-sub-link">The Modern JavaScript Tutorial</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://leetcode.com/problemset/algorithms/" class="list-sub-link">Leetcode(Algorithms)</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="http://www.lintcode.com/en/problem/" class="list-sub-link">Lintcode(Algorithms)</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="http://www.jiuzhang.com/" class="list-sub-link">jiuzhang</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-item">
                        <div class="list-title">Open Source/Popular Projects</div>
                        <ul class="list-sub">
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.docker.com/" class="list-sub-link">Docker</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://kitematic.com/" class="list-sub-link">kitematic</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://nodejs.org/" class="list-sub-link">Node.js</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://jenkins.io/" class="list-sub-link">Jenkins</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.splunk.com/" class="list-sub-link">Splunk(Log)</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://electron.atom.io/" class="list-sub-link">Electron</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.xamarin.com/" class="list-sub-link">Xamarin</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://cordova.apache.org/" class="list-sub-link">Cordova</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://socket.io/" class="list-sub-link">Socket.IO</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.asp.net/signalr" class="list-sub-link">ASP.NET SignalR</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.elastic.co/" class="list-sub-link">Elasticsearch</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.ubuntu.com/" class="list-sub-link">Ubuntu</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.virtualbox.org/" class="list-sub-link">VirtualBox</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.dynatrace.com/" class="list-sub-link">Dynatrace</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://tomcat.apache.org/" class="list-sub-link">Apache Tomcat</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://nginx.org" class="list-sub-link">Nginx</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.mysql.com/" class="list-sub-link">Mysql</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://jersey.github.io/" class="list-sub-link">Jersey</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://facebook.github.io/react/" class="list-sub-link">React JS</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://facebook.github.io/react/" class="list-sub-link">React JS</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://angularjs.org/" class="list-sub-link">AngularJs</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="http://getbootstrap.com/" class="list-sub-link">Bootstrap</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://jquery.com/" class="list-sub-link">Jquery</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="http://lesscss.org/" class="list-sub-link">Less</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="http://sass-lang.com/" class="list-sub-link">Sass</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="http://www.json.org/" class="list-sub-link">JSON</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.typescriptlang.org/" class="list-sub-link">Type Script</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://maven.apache.org/" class="list-sub-link">Maven</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://gradle.org/" class="list-sub-link">Gradle</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://www.scala-lang.org/" class="list-sub-link">Scala</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="http://groovy-lang.org/" class="list-sub-link">Groovy</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="http://sdkman.io/" class="list-sub-link">SDKMAN</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://logging.apache.org/log4j/2.x/" class="list-sub-link">Log4j</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://bootsnipp.com" class="list-sub-link">Bootstrap Templates</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://work.smarchal.com/twbscolor/" class="list-sub-link">Generate Bootstrap Navbar</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://highlightjs.org/" class="list-sub-link">highlight.js</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-item">
                        <div class="list-title">Free Text Editor/IDE</div>
                        <ul class="list-sub">
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://notepad-plus-plus.org/" class="list-sub-link">Notepad++</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://eclipse.org" class="list-sub-link">Eclipse(Java)</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://netbeans.org/" class="list-sub-link">Netbeans(Java)</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://atom.io/" class="list-sub-link">Atom</a></div>
                            </li>
                            <li class="list-sub-item">
                                <div class="list-sub-title"><a href="https://code.visualstudio.com/" class="list-sub-link">Visual Studio Code(Web)</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
      </div>
   </body>
</html>
