<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
  <link href="css/main.css" rel='stylesheet' type='text/css' />
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Rong Zhuang</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="portfolio.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="cv.html">CV</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Feed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="images/cv.pdf"><span class="glyphicon glyphicon-download-alt"></span> Download CV</a></li>
        <li><a href="contact.html"><span class="glyphicon glyphicon-user"></span> Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
	<!-- Page Header -->
	<div class="row">
			<div class="col-lg-12">
					<h1 class="page-header">Mobile Apps
							<small>iOS, Android</small>
					</h1>
			</div>
	</div>
	<!-- Projects Row -->
	<div class="row">
			<div class="col-md-3 portfolio-item">
				<div class="item-border">
					<a href="#">
							<img class="img-responsive" src="images/index.png" alt="">
					</a>
					<h3>
							<a href="#">Course Player Xamarin</a>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				</div>
			</div>
			<div class="col-md-3 portfolio-item">
				<div class="item-border">
					<a href="#">
							<img class="img-responsive" src="images/index.png" alt="">
					</a>
					<h3>
							<a href="#">Course Player Xamarin</a>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				</div>
			</div>
			<div class="col-md-3 portfolio-item">
				<div class="item-border">
					<a href="#">
							<img class="img-responsive" src="images/index.png" alt="">
					</a>
					<h3>
							<a href="#">Course Player Xamarin</a>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				</div>
			</div>
			<div class="col-md-3 portfolio-item">
				<div class="item-border">
					<a href="#">
							<img class="img-responsive" src="images/index.png" alt="">
					</a>
					<h3>
							<a href="#">Course Player Xamarin</a>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				</div>
			</div>
	</div>
	<!-- /.row -->
		<!-- Page Header -->
		<div class="row">
				<div class="col-lg-12">
						<h1 class="page-header">Web & Desktop Apps
								<small>.NET, C#</small>
						</h1>
				</div>
		</div>
		<!-- /.row -->

		<!-- Projects Row -->
		<div class="row">
				<div class="col-md-4 portfolio-item">
					<div class="item-border">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x400" alt="">
						</a>
						<h3>
								<a href="#">3 Layer CMS system</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
					</div>
				</div>
				<div class="col-md-4 portfolio-item">
					<div class="item-border">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x400" alt="">
						</a>
						<h3>
								<a href="#">Code Generator</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
					</div>
				</div>
				<div class="col-md-4 portfolio-item">
					<div class="item-border">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x400" alt="">
						</a>
						<h3>
								<a href="#">Kaixin Assistant</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
					</div>
				</div>
				<div class="col-md-4 portfolio-item">
					<div class="item-border">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x400" alt="">
						</a>
						<h3>
								<a href="#">Novel Reader</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
					</div>
				</div>
				<div class="col-md-4 portfolio-item">
					<div class="item-border">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x400" alt="">
						</a>
						<h3>
								<a href="#">Shoe Store</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
					</div>
				</div>
				<div class="col-md-4 portfolio-item">
					<div class="item-border">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x400" alt="">
						</a>
						<h3>
								<a href="#">Course Player PhoneGap</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
					</div>
				</div>
		</div>

		<!-- /.row -->


</div>
<!-- /.container -->
<br/><br/>


<footer class="container-fluid text-center">
  <p>  &copy; 2016. All rights reserved.</p>
</footer>

</body>
</html>
