<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% include google_analytics.html %}
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li {% if page.key == "home" %} class="active" {% endif %}><a class="navbar-brand" href="/">Rong Zhuang</a></li>
      </ul>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li {% if page.key == "portfolio" %} class="active" {% endif %}><a href="/portfolio">Portfolio</a></li>
        <li {% if page.key == "blog" %} class="active" {% endif %}><a href="/blog">Blog</a></li>
        <li {% if page.key == "cv" %} class="active" {% endif %}><a href="/cv">CV</a></li>
        <li {% if page.key == "about" %} class="active" {% endif %}><a href="/about">About</a></li>
        <li {% if page.key == "feed" %} class="active" {% endif %}><a href="/feed">Feed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/public/cv/cv.pdf"><span class="glyphicon glyphicon-download-alt"></span> Download CV</a></li>
        <li {% if page.key == "contact" %} class="active" {% endif %}><a href="/contact"><span class="glyphicon glyphicon-user"></span> Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

{{ content }}

<footer class="container-fluid text-center">
  <p>
    &copy; 2016. All rights reserved.
  </p>
</footer>

</body>
</html>
