<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<h3 class="masthead-title">
			<a href="/" title="Home">{{ site.title }}</a>
			
			{% for page in site.pages_list %}
			  &nbsp;&nbsp;&nbsp;
			  <small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
			{% endfor %}
			</h3>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jojozhuang@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jojozhuang">github.com/jojozhuang</a></li>
				</ul>
				<p>
          &copy; 2016. All rights reserved.
        </p>
			</footer>
			{% include analytics.html %}
		</body>
	</html>
