---
layout: default
key: portfolio
---
<script>
	$(document).ready(function(){
		$('img').addClass('image-border');
	});
</script>
<div style="background:transparent !important" class="jumbotron">
	<div class="container">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h1>{{ page.title }}</h1>
			<h2>{{ page.tags }}</h2>
			<div class="post">
				{{ content }}
			</div>

			<!-- Post comments -->
			<div class="notecomments">
				{% include disqus.html %}
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
