---
layout: default
---
<script>
  $(document).ready(function(){
    $('img').addClass('image-software');
    $('img').addClass('img-responsive');
  });
</script>
<div class="container">
    <div class="page-wrapper chiller-theme">
      {% assign subject = site.data.popular %}
      {% assign postings = site.popular | sort: 'index' %}
      {% if page.key == "tutorial" %}
        {% assign subject = site.data.tutorial %}
        {% assign postings = site.tutorial | sort: 'index' %}
      {% endif %}
      {% if page.key == "note" %}
        {% assign subject = site.data.note %}
        {% assign postings = site.note | sort: 'index' %}
      {% endif %}
      {% include sidebar.html %}
      <!-- sidebar-wrapper  -->
      <main class="page-content">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  {% assign searchkey = '' %}
                  {% for item in page.navpath %}
                    {% assign searchkey = searchkey | append: item | append: ', ' %}
                    <li class="breadcrumb-item"><a href="/tutorial?query={{searchkey}}">{{item}}</a></li>
                  {% endfor %}
                  <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
                </ol>
              </nav>
              <h1>{{ page.index }}. {{ page.title }}</br><small>{{ page.tags | array_to_sentence_string }}</small></h1>
              {% include pagination.html %}
              <hr>
              <div class="post">
                {{ content }}
              </div>
              <hr>
              {% include pagination.html %}
              <!-- Post comments -->
              <div class="notecomments">
                {% include disqus.html %}
              </div>
            </div>
          </div>

      </main>
      <!-- page-content" -->
    </div>

</div>
