---
layout: default
key: tutorial
---
<script>
  $(document).ready(function(){
    $('img').addClass('image-software');
    $('img').addClass('img-responsive');
  });
</script>
<div class="container">
    <div class="page-wrapper chiller-theme toggled">
      {% include sidebar.html %}
      <!-- sidebar-wrapper  -->
      <main class="page-content">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 post-content">
              <h1>{{ page.index }}. {{ page.title }}</br><small>{{ page.tags | array_to_sentence_string }}</small></h1>
              {% include pagination.html %}
              <hr>
              <div class="post">
                {{ content }}
              </div>
              <hr>
              {% include pagination.html %}
              <!-- Post comments -->
              <div class="notecomments">
                {% include disqus.html %}
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>

      </main>
      <!-- page-content" -->
    </div>

</div>
