---
layout: default
---
<div class="container">
  <div class="page-wrapper chiller-theme">
    <!-- sidebar-wrapper  -->
    {% assign subject = site.data.category %}
    {% assign postings = site.algorithm | concat: site.programming | concat: site.architecture | concat: site.cloud |
    concat: site.tutorial | sort: 'index' %}
    {% include sidebar.html %}
    <!-- category for breadcrumb -->
    {% assign categories = subject.categories %}
    <!-- page-content" -->
    <main class="page-content">
      <!--
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h1 class="page-header">{{subject.name}} <small>{{subject.description}}</small></h1>
          </div>
          <div class="col-md-1"></div>
        </div>-->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 post-content"">
              <nav aria-label=" breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/{{page.key}}/?n={{page.key | downcase}}">{{page.key | capitalize}}</a>
            </li>
            {% for category in categories %}
            {% assign subcategory = category.subcategories | where: "subcategory", page.subcategory | first %}
            {% if subcategory %}
            {% assign navigatePath = page.key | downcase %}
            {% assign navigatePath = navigatePath | append: "&c=" | append: category.category %}
            <li class="breadcrumb-item"><a href="/{{page.key}}/?n={{navigatePath}}">{{category.name}}</a></li>
            {% assign navigatePath = navigatePath | append: "&s=" | append: subcategory.subcategory %}
            <li class="breadcrumb-item"><a href="/{{page.key}}/?n={{navigatePath}}">{{subcategory.name }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
          </ol>
          </nav>
          <h1>{{ page.index }}. {{ page.title }}</br><small>{{ page.tags | array_to_sentence_string }}</small></h1>
          {% include pagination.html %}
          <hr>
          <div class="post">
            {{ content }}
          </div>
          <hr>
          {% include pagination.html %}
          <!-- Post comments -->
          <div class="notecomments">
            {% include disqus.html %}
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </main>
  </div>
</div>