---
layout: default
key: cv
title: Rong Zhuang's CV
---
<!-- header -->
{% assign cv = site.data.cv %}
<div class="container">
    <div class="header">
        <h1>{{cv.name}}</h1>
    </div>
    <div class="header-right">
        <div class="list">
            <ul>
                <li><a href="mailto:{{cv.email}}">{{cv.email}}</a></li>
                <li>/</li>
                <li>{{cv.cell}}</li>
            </ul>
        </div>
        <h2>{{cv.role}}</h2>
    </div>
    <div class="clearfix"></div>
</div>
<!---->
<div class="content">
    <div class="container">
        <h3>Professional Summary</h3>
        <div class="info">
            <p>{{cv.summary}}</p>
        </div>
        <h3>Work Experience</h3>
        <div class="work">
            {% for experience in cv.experience %}
                <div class="details">
                    <div class="col-md-3 city">
                        <h5>{{experience.company}}</h5>
                        <p>{{experience.location}}</p>
                    </div>
                    <div class="col-md-7 posts">
                        <h4>{{experience.title}}</h4>
                        <p>{{experience.achievement}}</p>
                    </div>
                    <div class="col-md-2 date">
                        <p>{{experience.period}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        </div>
        <h3>Education</h3>
        <div class="education">
            {% for education in cv.education %}
                <div class="details">
                    <div class="col-md-3 city">
                        <h5>{{education.school}}</h5>
                        <p>{{education.location}}</p>
                    </div>
                    <div class="col-md-7 college">
                        <h4>{{education.degree}}</h4>
                        <h5>{{education.coursework}}</h5>
                    </div>
                    <div class="col-md-2 date">
                        <p>{{education.period}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        </div>
        <div class="skills">
            <div class="col-md-6 skill-list">
                <h3>IT Skills</h3>
                <div class="lists">
                    {% for skill in cv.skills %}
                        <div class="sub {% if forloop.first %}grid1{% endif %}">
                            <h5>{{skill.name}}</h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{skill.proficiency}}" aria-valuemin="0" aria-valuemax="100" style="width:{{skill.proficiency}}%">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 skill-list">
                <h3>Languages</h3>
                <div class="lists2">
                    {% for lang in cv.language %}
                        <div class="sub {% if forloop.first %}grid1{% endif %}">
                            <h5>{{lang.name}}</h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{lang.proficiency}}" aria-valuemin="0" aria-valuemax="100" style="width:{{lang.proficiency}}%">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="bottom_cnt">
            <div class="left_grid">
                <h3>Portfolios</h3>
                <ul class="list2">
                    {% for portfl in cv.portfolio %}
                        <li><a href="{{portfl.link}}">{{portfl.name}}</a>: {{portfl.description}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
